@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

html {
  background-color: #1e212d;
  font-family: Quicksand, sans-serif;
}

h2 {
  margin: 20px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
}

.side {
  height: 60vh;
  flex-grow: 1;
  flex-basis: 100%;
  background-color: #b68973;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.draggable-element {
  background-color: #faf3e0;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  cursor: move;
}

.draggable-element.dragging {
  opacity: 0.4;
}

