@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
  box-sizing: border-box;
  background: #12232E;
  font-size: 20px;
}

h1, h2, h3, h4, h5, p, a, ul, li, input, form {
  font : normal 500 20px/1 'Rubik', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form {
  position: relative;
  transition: all 1s;
  height: 50px;
  background: white;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  width: 500px;
  margin: 50px auto;
}

form:hover{
  transition: all 2s ease-out;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .fa{
  background: #4D8ADA;
  color: white;
}

input {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.suggestions {
  margin-top: 60px;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

